
@import '_reset'

$mobilec-media: 414px
$pc-media: 768px
$small-desktop: 1360px

@mixin pad($home)
  @if $home == 'false'
    @media screen and (min-width: $pc-media+1)
      @content

@mixin maxPad($home)
  @if $home == 'false'
    @media screen and (max-width: $pc-media)
      @content

@mixin maxMobile($home)
  @if $home == 'false'
    @media screen and (max-width: $mobilec-media)
      @content

img
  width: 100%
  display: block

body, html
  position: relative
  background: #ffffff
  background-size: cover
  font-size: 16px
  font-family: "Noto Sans TC", "微軟正黑體", "LiHei Pro Medium", Arial, Geneva, Verdana, sans-serif !important
  font-weight: 400
  font-size: 16px
  -webkit-text-size-adjust: none


body.hidden
  overflow: hidden



@media screen and (-webkit-min-device-pixel-ratio: 0)
  select, textarea, input
    font-size: 16px

.clearfix:after
  content: ""
  display: block
  clear: both





#navi-box
  position: fixed
  top: 0
  left: 50%
  transform: translateX(-50%)
  margin-left: -30px
  opacity: 0
  display: none
  width: 768px
  bottom: 0
  z-index: 10000

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url(../images/2021-event-jan/navi-bg.jpg) no-repeat 0 0
    background-size: cover
    opacity: 0.95
    z-index: 1

  .scroll
    overflow-y: auto
    height: 100%

  .scroll-inner
    padding: 90px 0

  .navi
    position: relative
    z-index: 10
    width: 405px
    height: auto
    margin: 0 auto

    a
      display: block

.demo
  position: absolute
  top: 0
  left: 50%
  width: 768px
  height: auto
  margin-left: -384px
  z-index: 20
  opacity: 0.5



.inner
  max-width: 1366px
  margin: 0 auto
  height: 100%
  position: relative

  +maxPad($home)
    padding-left: per(30px)
    padding-right: per(30px)

$red: #e6002b

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 44px
  z-index: 9000
  box-shadow: 0 0 10px rgba(black,.5)
  border-bottom: 1px solid $red
  background-color: #fff

  .inner
    max-width: 100%
    padding: 0 15px

    &:after
      content: ""
      display: block
      clear: both


  .logo
    position: absolute
    top: 8px
    left: 10px
    width: 99px

#wrapper
  position: relative
  z-index: 1

.navis
  float: right
  list-style: none
  padding: 0
  margin: 0

  li
    display: inline-block
    margin-left: -5px
    user-select: none

  a
    display: block
    width: 130px
    height: 44px
    color: white
    font-size: 20px
    line-height: 44px
    text-decoration: none
    position: relative
    text-align: center

    &:before,&:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 141px
      height: 44px
      z-index: -1
      transition: all .5s ease
      pointer-events: none
      
    &:before
      opacity: 1
      background: url(../images/2021-event-jan/nav-normal.png) no-repeat 0 0
      

    &:after
      opacity: 0
      background: url(../images/2021-event-jan/nav-ovr.png) no-repeat 0 0


    &:hover:after
      opacity: 1

    &:hover:before
      opacity: 0
  

.social-media
  padding: 0
  margin: 0
  float: right
  margin-left: 20px

  li
    display: inline-block
    margin-left: -4px
    line-height: 44px
    padding: 0 5px

  a
    display: inline-block
    vertical-align: middle

.btn-facebook,.btn-line
  display: inline-block
  width: 30px
  height: 30px
  margin-top: 6px
  

.btn-facebook
  background: url(../images/2021-event-jan/icon-facebook.png) no-repeat 0 0
  background-size: contain

.btn-line
  background: url(../images/2021-event-jan/icon-line.png) no-repeat right 0
  background-size: contain


//kv
#event-kv
  position: relative
  background-color: #165aa9
  box-shadow: 0 13px 29px rgba(black,.45)
  z-index: 5
  overflow: hidden
  
  img
    width: 100%
    height: auto

.event-kv-absolute
  position: absolute
  top: 0
  left: 0
  width: 100%

.event-kv-bg
  position: relative
  width: 100%
  background: url(../images/2021-event-jan/kv-bg.jpg) no-repeat center center
  background-size: cover

  +maxPad($home)
    background-image: url(../images/2021-event-jan/m-kv-bg.png)

  img
    visibility: hidden

.event-kv-prod
  top: vw(191px)
  left: vw(330px)
  width: vw(300px)
  height: auto

  +maxPad($home)
    top: 0
    left: 0
    width: 100%

  img
    animation: btnFadIn2 2s ease-in-out infinite alternate

.event-kv-rainbow
  top: auto
  bottom: 0

.event-kv-circle
  top: auto
  bottom: 0

.event-kv-move-bubble1
  top: vw(123px)
  left: vw(86px)
  width: vw(1195px)

  +maxPad($home)
    top: vw(560px)
    left: auto
    right: 0
    width: vw(553px)

  img
    animation: bubbleFadeOut 10s 1s ease-in-out infinite forwards
    opacity: 0
    

.event-kv-move-bubble2
  top: vw(490px)
  left: vw(320px)
  width: vw(1405px)
  +maxPad($home)
    top: vw(560px)
    left: auto
    right: 0
    width: vw(768px)
  img
    animation: bubbleFadeOut 6s 2s ease-in-out infinite forwards
    opacity: 0

.event-kv-move-bubble3
  top: vw(-4px)
  left: vw(10px)
  width: vw(1908px)
  img
    animation: bubbleFadeOut 9s ease-in-out infinite forwards
    opacity: 0

.event-kv-bubbles1
  top: 0
  left: 0
  width: vw(1254px)
  height: auto

  img
    animation: bubbleFadeOut 2s linear infinite forwards

.event-kv-bubbles2
  top: auto
  bottom: -60%
  right: 0
  left: auto
  width: vw(566px)
  height: auto
  img
    animation: bubbleFadeOut 4s linear infinite forwards

.event-kv-logo-txt
  top: vw(84px)
  left: auto
  right: vw(38px)
  width: vw(145px)

  +maxPad($home)
    top: 60px
    right: vw(39px)
    width: vw(137px)

.event-kv-iphone
  top: vw(172px)
  left: vw(1239px)
  width: vw(397px)
  height: auto
  +maxPad($home)
    top: vw(234px)
    left: vw(446px)
    width: vw(285px)

.event-kv-title
  top: vw(193px)
  left: vw(657px)
  width: vw(577px)
  height: auto

  +maxPad($home)
    top: vw(254px)
    left: vw(29px)
    width: vw(419px)

.event-kv-txt
  top: vw(548px)
  left: vw(708px)
  width: vw(907px)
  height: auto

.event-kv-txt1
  top: vw(518px)
  left: vw(58px)
  width: vw(671px)
  height: auto

.event-kv-txt2
  top: vw(793px)
  left: vw(346px)
  width: vw(392px)
  height: auto

.event-kv-btn
  top: vw(668px)
  left: vw(1334px)
  width: vw(315px)
  height: auto

  +maxPad($home)
    top: vw(993px)
    left: vw(346px)
    width: vw(261px)



.passcode
  widht: 100%
  height: 50px
  background-color: #1b1b1b
  background-size: auto 80%
  background-position: center center
  background-repeat: no-repeat
  +maxPad($home)
    height: vw(58px)
    font-size: vw(25px)


input.custom-style
  appearance: none
  border-radius: 0
  border: none
  width: 100%
  height: 50px
  padding: 0 10px
  box-sizing: border-box
  background-color: #9ed8f6
  text-align-last: center
  color: #000
  font-size: 20px
  line-height: 1
  +maxPad($home)
    height: vw(58px)
    font-size: vw(25px)

.custom-select-style
  appearance: none
  border-radius: 0
  border: none
  width: 100%
  height: 50px
  padding-left: 10px
  padding-right: 40px
  box-sizing: border-box
  background: #9ed8f6 url(../images/2021-event-jan/select-arrow.gif) no-repeat right 0
  background-size: contain
  text-align-last: center
  color: #000
  font-size: 20px
  line-height: 1
  +maxPad($home)
    height: vw(58px)
    font-size: vw(25px)
    padding-right: vw(40px)
    padding-left: vw(10px)
  
.form
  max-width: 610px
  width: 100%
  margin: 0 auto 10px

  .col
    max-width: 50%
    flex: 50%

    +maxMobile($home)
      flex: 100%
      max-width: 100%

  &.first
    padding-bottom: 8px
    margin-bottom: 20px
    border-bottom: 1px solid #d6d6d6

  .row
    display: flex
    margin-left: -12px
    margin-right: -12px
    margin-bottom: 12px

    +maxMobile($home)
      display: block
      margin-left: 0
      margin-right: 0
      margin-bottom: 0

    .col
      padding: 0 12px
      +maxMobile($home)
        margin-bottom: 15px

.btn-add
  width: 96px
  height: auto
  margin: 0 auto

  +maxPad($home)
    width: 70px
  img
    transition: all .5s ease

  &:hover
    img
      transform: scale(1.2)
      filter: saturate(150%)

#event-invoice
  background-color: #fff
  padding: 30px 0
  position: relative
  box-shadow: 0 13px 29px rgba(black,.45)
  z-index: 4

  +maxPad($home)
    padding-bottom: 0

  .event-invoice-bg
    position: absolute
    left: 50%
    top: 0
    right: 0
    bottom: 0
    background: url(../images/2021-event-jan/se1-bg.jpg) no-repeat 0 0
    background-size: cover

    +maxPad($home)
      background-image: url(../images/2021-event-jan/m-se1-bg.jpg)
      background-repeat: center bottom
      position: relative
      left: 0
      padding-top: 110%

    img
      object-fit: cover
      width: 100%

  .title
    width: per(378px,685px)
    margin: 0 auto 10px

  .txt
    color: #165aa9
    font-size: 22px
    line-height: 1.5
    margin-bottom: 25px
    text-align: center
    max-width: 500px
    margin-left: auto
    margin-right: auto

    +maxPad($home)
      font-size: vw(30px)

    p
      margin: 0

.se1-content
  display: flex
  justify-content: center
  align-items: center
  width: 100%

  +maxPad($home)
    display: block

  .left,.right
    flex: 50%
    max-width: 50%
    text-align: center

    +maxPad($home)
      flex: 100%
      max-width: 100%

.check
  max-width: 610px
  margin: 0 auto
  font-size: 17px
  line-height: 1.5

  +maxPad($home) 
    font-size: vw(22px)

  a
    color: #165aa9

  label
    display: block
    padding-left: 40px
    position: relative
    text-align: left

    input
      display: none

    .icon
      position: absolute
      top: 5px
      left: 0
      width: 30px
      height: 30px
      background-color: #9ed8f6
      

      &:before
        content: ""
        position: absolute
        top: 9px
        left: 9px
        bottom: 9px
        right: 9px
        background-color: #fff
        border-radius: 50%
        opacity: 0
        transition: all .5s ease

    input:checked + .icon:before
      opacity: 1

#rule
  padding-top: 80px
  padding-bottom: 80px

  +maxPad($home)
    padding-top: vw(80px)
    padding-bottom: vw(80px)

  .title
    width: per(390px,1360px)
    margin: 0 auto
    position: relative
    z-index: 20
    min-width: 395px

    +maxPad($home)
      min-width: unset
      width: per(430px)
      min-width: 250px

  .gift
    margin-top: -10%
    width: per(969px,1360px)
    margin-left: auto
    margin-right: auto
    z-index: 1
    min-width: 960px

    +maxPad($home)
      width: 100%
      margin-top: -40%
      min-width: 100%

  
.rule-list
  margin-top: -10%

  .group
    margin-bottom: 40px
    color: white
    font-size: 18px
    line-height: 1.6
    max-width: per(1230px,1360px)
    margin-left: auto
    margin-right: auto

    +maxPad($home)
      font-size: vw(25px)
      margin-bottom: vw(50px)

    a
      color: white

    p,ol
      margin: 0

    ol
      padding-left: 20px

    h3
      color: #00489a
      font-size: 22px
      position: relative
      padding-left: 10px
      padding-right: 10px
      display: inline-block
      margin: 0
      margin-bottom: 10px
      +maxPad($home)
        font-size: vw(30px)

      span
        position: relative
        z-index: 2

      &:before
        content: " "
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        transform: skew(-10deg)
        background-color: #fff
        z-index: 1

.repeat-bg
  background-image: url(../images/2021-event-jan/se2-bg.gif)
  background-repeat: repeat-y
  background-size: 100% auto
  background-color: #00489a


.back-top
  width: 40px
  margin: 0 auto

  a
    display: block
    width: 100%
    height: 100%


#footer
  text-align: center
  padding: 20px 0
  p
    color: black
    font-size: 15px
    line-height: 1.5
    margin: 0


.btn-submit
  width: per(246px,685px)
  margin: 0 auto
  +maxPad($home)
    width: per(315px)
    min-width: 200px




#winner
  padding: 80px 0
  .title
    width: per(400px,1360px)
    margin: 0 auto

    +maxPad($home)
      width: per(430px)
      min-width: 250px

  .txt
    color: white
    font-size: 25px
    font-weight: 500
    text-align: center

    +maxPad($home) 
      font-size: vw(30px)

.winner-box
  width: 830px
  background-image: url(../images/2021-event-jan/award-format-top.png),url(../images/2021-event-jan/award-format-main.png)
  background-repeat: no-repeat,repeat-y,no-repeat
  background-position: center top, center center
  background-size: contain,contain
  margin-left: auto
  margin-right: auto
  position: relative
  margin-top: -300px
  padding-top: 300px
  box-shadow: 0 10px 20px rgba(black,.5)

  +maxPad($home)
    width: per(730px)
    margin-top: -28vw
    padding-top: 28vw

  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    background: url(../images/2021-event-jan/award-format-bottom.png) no-repeat bottom left
    background-size: contain
    z-index: 1


.winner-content
  position: relative
  z-index: 20
  padding-bottom: 80px

.winner-gift
  position: relative
  width: 780px
  margin: 0 auto
  z-index: 20

  +maxPad($home)
    width: per(681px)


.winner-wrap
  margin-top: -100px

  +maxPad($home)
    margin-top: -10vw

.winner-table
  width: per(530px,810px)
  margin: 0 auto 100px
  +maxPad($home)
    margin-bottom: 10vw
    margin-top: 3vw
    width: 90%
  
  .row
    display: flex
    width: 100%
    color: white
    font-size: 25px
    line-height: 1.5
    justify-content: center

    +maxPad($home)
      font-size: vw(30px)

    &.th
      color: #4fa2ff
      border-bottom: 1px solid #4fa2ff
      margin-bottom: 15px
      +maxPad($home)
        margin-bottom: vw(20px)

      .col
        padding: 15px 0
        +maxPad($home)
          padding: vw(10px) 0

  .col
    text-align: center

    p
      margin: 0
      padding: 10px 0
      +maxPad($home)
        padding: vw(10px) 0
    &:nth-child(1)
      max-width: 20%
      flex: 20%
    &:nth-child(2)
      max-width: 40%
      flex: 40%
    &:nth-child(3)
      max-width: 30%
      flex: 30%


.btn-download
  width: 353px
  margin: 40px auto

  +maxPad($home)
    width: per(433px)
    min-width: 250px


.scroll
  position: absolute
  bottom: 4%
  left: 50%
  transform: translateX(-50%)
  width: per(88px)

  +maxPad($home)
    bottom: 5%
    transform: translateX(53%)

  a
    display: block
    width: 100%
    height: 100%
    background: url(../images/2021-event-jan/scroll-arrow.png) no-repeat 0 0
    background-size: contain
    animation: scrollFadeOut 1.8s ease infinite forwards alternate



.mobile-menu
  position: fixed
  top: 0
  left: 0
  width: 100%
  bottom: 0
  background: linear-gradient(45deg,  rgba(0,79,144,1) 0%, rgba(39,110,192,1) 61%)
  display: flex
  align-items: center
  z-index: 9778
  opacity: 0
  display: none

  .content
    flex: 100%
    width: 100%
    padding-top: 50px


.mobile-btn-menu
  position: fixed
  top: 10px
  right: 10px
  width: 45px
  height: 32px
  z-index: 9779

  

  span
    display: block
    width: 100%
    height: 4px
    background-color: #144992
    position: absolute
    top: 0
    left: 0
    transition: all 0.5s ease

    &:nth-child(1)
      top: 0
    &:nth-child(2)
      top: 10px
    &:nth-child(3)
      top: 21px

  &.active 
    transform: scale(0.9)
    span
      background-color: #fff
      &:nth-child(1)
        top: 10px
        transform: rotate(45deg)
      &:nth-child(2)
        top: 10px
        opacity: 0
      &:nth-child(3)
        top: 10px
        transform: rotate(-45deg)
      

.mobile-navis
  color: #fff
  max-width: per(465px)
  margin: 0 auto
  list-style: none
  text-align: center
  padding: 0
  a
    display: block
    color: white
    font-size: vw(30px)
    line-height: 1.5
    text-decoration: none
    padding: 10px 0
    user-select: none


.custombox-open.custombox-overlay
    background-color: rgba(#144992,.95) !important
    opacity: 1 !important

.clearfix:after
    content: ""
    display: block
    clear: both

#banner-lb
  display: none

.banner-close
  max-width: 47px
  float: right
  margin-bottom: 10px
  cursor: pointer

  +maxPad($home)
    max-width: 40px
    margin-right: 10px

.banner-main
  max-width: 840px
  margin: 0 auto
  color: white
  font-size: 17px
  text-align: center
  padding-left: 100px
  padding-right: 100px
  box-sizing: border-box
  position: relative

  +maxPad($home)
    padding-left: 0
    padding-right: 0

    p
      padding: 0 10px

#banner-slide
    position: relative


.btns
  +maxPad($home)
    display: flex
    width: 80%
    margin-left: auto
    margin-right: auto
  a
    display: inline-block
    margin-left: -10px
    +maxPad($home)
      flex: 50%
      max-width: 50%
      margin-left: 0

    img
        max-width: 100%


button.slick-prev
  position: absolute
  top: 50%
  margin-top: -40px
  left: -70px
  width: 42px
  height: 81px
  background: url(../images/2021-event-jan/prev.png)
  appearance: none
  border: none
  color: transparent

  +maxPad($home)
    display: none


button.slick-next
  position: absolute
  top: 50%
  margin-top: -40px
  right: -70px
  width: 42px
  height: 81px
  background: url(../images/2021-event-jan/next.png)
  appearance: none
  border: none
  color: transparent

  +maxPad($home)
    display: none


.slick-dots
  list-style: none
  padding-left: 0

  li
    display: inline-block
    padding: 0 5px
    opacity: .3

    &.slick-active
        opacity: 1
  button
    appearance: none
    width: 26px
    height: 26px
    border-radius: 50%
    border: none
    color: transparent

    +maxPad($home)
      width: 20px
      height: 20px