
@import '_reset'

$mobilec-media: 414px
$pc-media: 768px
$small-desktop: 1360px

@mixin pad($home)
  @if $home == 'false'
    @media screen and (min-width: $pc-media+1)
      @content

@mixin maxPad($home)
  @if $home == 'false'
    @media screen and (max-width: $pc-media)
    @content

@mixin maxMobile($home)
  @if $home == 'false'
    @media screen and (max-width: $mobilec-media)
      @content


//kv
#event-kv
  position: relative
  background-color: #165aa9
  box-shadow: 0 13px 29px rgba(black,.45)
  z-index: 5
  overflow: hidden
  
  img
    width: 100%
    height: auto

.event-kv-absolute
  position: absolute
  top: 0
  left: 0
  width: 100%

.event-kv-bg
  position: relative
  width: 100%
  background: url(../images/2021-event-jan/kv-bg.jpg) no-repeat center center
  background-size: cover

  +maxPad($home)
    background-image: url(../images/2021-event-jan/m-kv-bg.png)

  img
    visibility: hidden

.event-kv-prod
  top: vw(191px)
  left: vw(330px)
  width: vw(300px)
  height: auto
  +maxPad($home)
    top: 0
    left: 0
    width: 100%

  img
    animation: btnFadIn2 2s ease-in-out infinite alternate

.event-kv-rainbow
  top: auto
  bottom: 0

.event-kv-circle
  top: auto
  bottom: 0

.event-kv-move-bubble1
  top: vw(123px)
  left: vw(86px)
  width: vw(1195px)

  +maxPad($home)
    top: per(560px,1100px)
    left: auto
    right: 0
    width: per(553px)

  img
    animation: bubbleFadeOut 10s 1s ease-in-out infinite forwards
    opacity: 0

.event-kv-move-bubble2
  top: vw(490px)
  left: vw(320px)
  width: vw(1405px)
  +maxPad($home)
    top: per(560px,1100px)
    left: auto
    right: 0
    width: per(768px)
  img
    animation: bubbleFadeOut 6s 2s ease-in-out infinite forwards
    opacity: 0

.event-kv-move-bubble3
  top: vw(-4px)
  left: vw(10px)
  width: vw(1908px)

  +maxPad($home)
    top: per(-4px,1100px)
    left: per(10px)
    width: per(1908px)
  img
    animation: bubbleFadeOut 9s ease-in-out infinite forwards
    opacity: 0

.event-kv-bubbles1
  top: 0
  left: 0
  width: vw(1254px)
  height: auto

  +maxPad($home)
    width: per(1254px)

  img
    animation: bubbleFadeOut 2s linear infinite forwards

.event-kv-bubbles2
  top: auto
  bottom: -60%
  right: 0
  left: auto
  width: vw(566px)
  height: auto

  +maxPad($home)
    width: per(566px)
  img
    animation: bubbleFadeOut 4s linear infinite forwards

.event-kv-logo-txt
  top: vw(84px)
  left: auto
  right: vw(38px)
  width: vw(145px)

  +maxPad($home)
    top: 60px
    right: per(39px)
    width: per(137px)

.event-kv-iphone
  top: vw(172px)
  left: vw(1239px)
  width: vw(397px)
  height: auto
  +maxPad($home)
    top: per(234px,1100px)
    left: per(446px)
    width: per(285px)

.event-kv-title
  top: vw(193px)
  left: vw(657px)
  width: vw(577px)
  height: auto

  +maxPad($home)
    top: per(254px,1100px)
    left: per(29px)
    width: per(419px)

.event-kv-txt
  top: vw(548px)
  left: vw(708px)
  width: vw(907px)
  height: auto
  +maxPad($home)
    top: per(548px,1100px)
    left: per(708px)
    width: per(907px)
.event-kv-pepsi
  top: 5%
.event-kv-txt1
  top: vw(518px)
  left: vw(58px)
  width: vw(671px)
  height: auto

.event-kv-txt2
  top: vw(793px)
  left: vw(346px)
  width: vw(392px)
  height: auto

  +maxPad($home)
    top: per(793px,1100px)
    left: per(346px)
    width: per(392px)

.event-kv-btn
  top: vw(668px)
  left: vw(1334px)
  width: vw(315px)
  height: auto

  +maxPad($home)
    top: per(993px,1100px)
    left: per(346px)
    width: per(261px)

