

html.desktop .desktop-show
    display: block !important

html.desktop .mobile-show
    display: none !important

html.mobile .mobile-show
    display: block !important

html.mobile .desktop-show
    display: none !important


html.mobile
    $default: 768px
    $home: 'false'
    @import '_media'
    @import '_style-home'

    #kv
        height: auto !important

    .mobile-show
        display: block

    .desktop-show
        display: none

    .event-kv-pepsi
        top: 40px

    .event-kv-bg
        background-image: url(../images/2021-event-jan/m-kv-bg.png)

    .event-kv-prod
        top: 0
        left: 0
        width: 100%

    .event-kv-move-bubble1
        top: per(560px,1100px)
        left: auto
        right: 0
        width: per(553px)

    .event-kv-move-bubble2
        top: per(560px,1100px)
        left: auto
        right: 0
        width: per(768px)

    .event-kv-move-bubble3
        top: per(-4px,1100px)
        left: per(10px)
        width: per(1908px)

    .event-kv-bubbles1
        width: per(1254px)

    .event-kv-bubbles2
        width: per(566px)

    .event-kv-logo-txt
        top: 8%
        right: per(29px)
        width: per(137px)

    .event-kv-iphone
        top: per(234px,1100px)
        left: per(446px)
        width: per(285px)

    .event-kv-title
        top: per(254px,1100px)
        left: per(29px)
        width: per(419px)

    .event-kv-txt
        top: per(548px,1100px)
        left: per(708px)
        width: per(907px)

    .event-kv-txt1
        top: per(480px,1100px)
        left: per(58px)
        width: per(671px)
        height: auto

    .event-kv-txt2
        top: per(710px,1100px)
        left: per(346px)
        width: per(392px)

    .event-kv-btn
        top: per(880px,1100px)
        left: per(346px)
        width: per(261px)

html.desktop
    @media screen and (min-width: 1px) and (max-width: 1359px) 
        $default: 1920px
        $home: 'true'
        
        @import '_media'
        @import '_style-home'

        .desktop-show
            display: block

        .mobile-show
            display: none

        body
            min-width: 1350px

        .event-kv-bg
            min-width: 1350px

        $r: 0.71
        .event-kv-prod
            top: 191px*$r
            left: 330px*$r
            width: 300px*$r

        .event-kv-bubbles1
            width: 1254px*$r

        .event-kv-bubbles2
            width: 566px*$r

        .event-kv-logo-txt
            top: 84px*$r
            right: 38px*$r
            width: 145px*$r

        .event-kv-iphone
            top: 172px*$r
            left: 1239px*$r
            width: 397px*$r

        .event-kv-title
            top: 193px*$r
            left: 657px*$r
            width: 577px*$r

        .event-kv-txt
            top: 548px*$r
            left: 708px*$r
            width: 907px*$r

        .event-kv-btn
            top: 668px*$r
            left: 1334px*$r
            width: 315px*$r

    @media screen and (min-width: 1366px)
        $default: 1920px
        $home: 'true'
        
        @import '_media'
        @import '_style-home'
        .desktop-show
            display: block

        .mobile-show
            display: none

    
.light-btn
    img
        animation: btnFadIn 2s ease-in-out infinite alternate
    a
        display: block
        position: relative
        width: 100%
        height: 100%
        overflow: hidden
    .light
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 10px
        background: linear-gradient(120deg, rgba(255,255,255,0) 30%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0) 70%)
        background-size: 100px 100%
        background-repeat: no-repeat
        background-position: -250% top
        color: transparent
        text-shadow: none
        animation: titleAnim 4s 2s ease-in-out infinite
            

    &.event-kv-btn .light
        bottom: 33%
        left: 5%
        right: 12%
        top: 8%

    &.btn-download .light
        bottom: 39%
        left: 5%
        right: 10%
        top: 8%

    &.btn-submit .light
        bottom: 39%
        left: 7%
        right: 15%
        top: 8%

@keyframes titleAnim 
    0%
        background-position: -250% top
    
    30%,100%
        background-position: 250% top


@keyframes scrollFadeOut 
    0%,100%
        background-position: 0 0
    
    50%
        background-position: 0 -8px

@keyframes btnFadIn 
    0%
        filter: saturate(100%)
    
    30%,100%
        filter: saturate(150%)

@keyframes btnFadIn2
    0%
        filter: saturate(100%)
    
    30%,100%
        filter: saturate(120%)
        transform: translateY(2px)

@keyframes bubbleFadeOut
    0%
        transform: translateX(0) translateY(0)
        opacity: 0

    30%
        opacity: 1
    
    90%
        transform: translateX(0) translateY(-100px) scale(1.05)
        opacity: 0

    100%
        opacity: 0



@keyframes bubbleFadeOut2
    0%
        transform: translateX(0) translateY(0) scale(0.96)
        opacity: 0

    30%
        opacity: 1
    
    90%
        transform: translateX(0) translateY(-200px) scale(1.05)
        opacity: 0

    100%
        opacity: 0

html.lock-body
    touch-action: none
    -ms-touch-action: none
    overflow: hidden

