
#loading
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 999999
  background-color: #fff

  .loading-center
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-100%)
    width: 99px

    img
      max-width: 99px

#load-imgs
  overflow: hidden
  height: 0

$home: 'false'

#kv
    height: auto !important
    
@media screen and (max-width: 768px) 
    $default: 768px
    @import '_media'
    @import '_style'
    body
        min-width: unset

    .mobile-show
        display: block

    .desktop-show
        display: none


@media screen and (min-width: 768px) and (max-width: 1359px) 
    $default: 1920px
    @import '_media'
    @import '_style'

    .desktop-show
        display: block

    .mobile-show
        display: none

    body
        min-width: 1350px

    .event-kv-bg
        min-width: 1350px

    $r: 0.71
    .event-kv-prod
        top: 191px*$r
        left: 330px*$r
        width: 300px*$r

    .event-kv-bubbles1
        width: 1254px*$r

    .event-kv-bubbles2
        width: 566px*$r

    .event-kv-logo-txt
        top: 84px*$r
        right: 38px*$r
        width: 145px*$r

    .event-kv-iphone
        top: 172px*$r
        left: 1239px*$r
        width: 397px*$r

    .event-kv-title
        top: 193px*$r
        left: 657px*$r
        width: 577px*$r

    .event-kv-txt
        top: 548px*$r
        left: 708px*$r
        width: 907px*$r

    .event-kv-btn
        top: 668px*$r
        left: 1334px*$r
        width: 315px*$r

@media screen and (min-width: 1366px)
    $default: 1920px
    
    @import '_media'
    @import '_style'

    .desktop-show
        display: block

    .mobile-show
        display: none

.slick-list
    img
        -webkit-touch-callout: default
        -webkit-user-select: default
        -khtml-user-select: default
        -moz-user-select: default
        -ms-user-select: default
        user-select: default
    

.light-btn
    img
        animation: btnFadIn 2s ease-in-out infinite alternate
    a
        display: block
        position: relative
        width: 100%
        height: 100%
        overflow: hidden
    .light
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 10px
        background: linear-gradient(120deg, rgba(255,255,255,0) 30%, rgba(255,255,255,.8) 50%, rgba(255,255,255,0) 70%)
        background-size: 100px 100%
        background-repeat: no-repeat
        background-position: -250% top
        color: transparent
        text-shadow: none
        animation: titleAnim 4s 2s ease-in-out infinite
            

    &.event-kv-btn .light
        bottom: 33%
        left: 5%
        right: 12%
        top: 8%

    &.btn-download .light
        bottom: 39%
        left: 5%
        right: 10%
        top: 8%

    &.btn-submit .light
        bottom: 39%
        left: 7%
        right: 15%
        top: 8%

@keyframes titleAnim 
    0%
        background-position: -250% top
    
    30%,100%
        background-position: 250% top


@keyframes scrollFadeOut 
    0%,100%
        background-position: 0 0
    
    50%
        background-position: 0 -8px

@keyframes btnFadIn 
    0%
        filter: saturate(100%)
    
    30%,100%
        filter: saturate(150%)

@keyframes btnFadIn2
    0%
        filter: saturate(100%)
    
    30%,100%
        filter: saturate(120%)
        transform: translateY(2px)

@keyframes bubbleFadeOut
    0%
        transform: translateX(0) translateY(0)
        opacity: 0

    30%
        opacity: 1
    
    90%
        transform: translateX(0) translateY(-100px) scale(1.05)
        opacity: 0

    100%
        opacity: 0



@keyframes bubbleFadeOut2
    0%
        transform: translateX(0) translateY(0) scale(0.96)
        opacity: 0

    30%
        opacity: 1
    
    90%
        transform: translateX(0) translateY(-200px) scale(1.05)
        opacity: 0

    100%
        opacity: 0

html.lock-body
    touch-action: none
    -ms-touch-action: none
    overflow: hidden

